<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Mean:</p>
    <span class="badge badge-success" id="mean">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Median:</p>
    <span class="badge badge-success" id="median">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Mode</p>
    <span class="badge badge-success" id="mode">1</span>
  </li>
 <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Standard Deviation</p>
    <span class="badge badge-success" id="stdev">1</span>
</li>
     <li class="list-group-item d-flex justify-content-between align-items-center">
    <p>Variance</p>
    <span class="badge badge-success" id="variance">1</span>
</li>
</ul>